<%= simple_form_for @team do |f| %>
  <%= f.input :name %>
  <%= f.input :slack_channel %>

  <h2>Members</h2>
  <%= f.association :users, collection: User.all, as: :check_boxes, label: false, class: 'text' %>

  <h2>Events</h2>
  <%= multi_checkbox_tabs(f, 'events', EventGroup.all, Event.all.group_by(&:event_group)) %>

  <%= f.submit class: "btn btn-primary" %>
  <%= link_to 'Back', teams_path, class: "btn" %>
<% end %>

<% if @team.id %>
  <h2>Todos</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Completed</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @team.todos.each do |todo| %>
        <tr>
          <td><%= link_to todo.title, edit_todo_path(todo) %></td>
          <td><%= todo.completed %></td>
          <td class="text-right"><%= link_to 'X', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light btn-sm' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= simple_form_for Todo.new do |f| %>
      <%= f.input :title %>
      <%= f.association :user %>
      <%= f.input :completed, as: :hidden, input_html: {value: false} %>
      <%= f.input :team_id, as: :hidden, input_html: {value: @team.id} %>
      <%= f.submit class: "btn btn-primary" %>
  <% end %>
<% end %>