<h1>Edit Event</h1>

<%= simple_form_for @event do |f| %>
    <%= f.input :name %>
    <%= f.input :action %>
    <%= f.association :event_group %>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Back', edit_event_group_path(@event.event_group), class: "btn" %>
<% end %>