<h1>Edit Event</h1>

<%= simple_form_for @todo do |f| %>
    <%= f.input :title %>
    <%= f.input :completed %>
    <%= f.association :team %>
    <%= f.association :user %>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Back', edit_team_path(@todo.team), class: "btn" %>
<% end %>