<!DOCTYPE html>
<html>
  <head>
    <title>Zuidlaren</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <%= link_to 'Zuidlaren', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Teams', teams_path, class: "nav-link #{'active' if controller?('teams')}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Users', users_path, class: "nav-link #{'active' if controller?('users')}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Event Groups', event_groups_path, class: "nav-link #{'active' if controller?('event_groups')}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Events', events_path, class: "nav-link #{'active' if controller?('events')}" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

  <div class="container">

    <footer class="footer">
      <p data-toggle="modal" data-target="#berendModal">© Berend Botje</p>

      <div class="modal fade" id="berendModal" tabindex="-1" role="dialog" aria-labelledby="berendModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="berendModalTitle">Berend Botje</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <iframe width=460" height="315" src="https://www.youtube.com/embed/BlMMS94T8Uc" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>

  </body>
</html>
